<html>
<head>
    <title>Restaurant List</title>
</head>
<body>
    <h1>{{ stylist.getName }}</h1>
     <p><a href="/stylists/{{ stylist.getId }}/edit">Edit this stylist</a></p>

    {% if clients is empty %}
        <h4>This stylist has no clients!</h4>
    {% else %}
        <p>Here are the clients:</p>
        <ul>
        {% for client in clients %}
            <li>
                <h3>{{ client.getName }}</h3>
                <h4>Phone: {{ client.getPhone }}</h4>

                <form action="/clients/{{ client.getId }}/edit" method="get">
                    <button type="submit" name="button">Edit client</button>
                </form>
                <form action="/clients/{{ client.getId }}/review" method="get">
                    <button type="submit" name="button">Review this client</button>
                </form>
            </li>
        {% endfor %}
        </ul>

        <form action="/delete_clients/{{ stylist.getId }}" method="post">
            <input name="_method" type="hidden" value="delete">
            <button type="submit" name="button">Delete clients</button>
        </form>
    {% endif %}

        <h4>Add a client</h4>

        <form action='/clients/{{ stylist.getId }}' method='post'>
            <input id="stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getId }}">
            <label for='client_name'>Client Name</label>
            <input id='client_name' name='client_name' type='text'>
            <label for='phone'>Client Phone Number</label>
            <input id='phone' name='phone' type='text'>

            <button type='submit'>Add client</button>
        </form>

    <p><a href='/'>Home</a></p>
</body>
</html>
